.App {
  flex-direction: column;
  height: 60vmin;
  text-align: center;
  background-image: linear-gradient(135deg, rgba(91, 85, 225) 0%, rgba(4, 191, 205) 100%);
  border-radius: 15px;
  padding-bottom: 150px;

  
}
#App.App img {
  max-height: 250px;
  max-width: 200px;
  padding-top: 20px;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (max-width: 768px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }


  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #fff;
  }

  .App-link {
    color: #61dafb;
  }
  .App {
    height: 100vmin;
    text-align: center;
    
    background-image: linear-gradient(135deg, rgba(91, 85, 225) 0%, rgba(4, 191, 205) 100%);
    padding:0px 10px;
    margin-left: 10px;
    flex-direction: column;
    padding-bottom: 320px;
    }  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
